*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100vh;
	background: #333333;
	color: #FFFFFF;
}
/* 去掉无序列表的默认样式 */
li{
	list-style: none;
}
.box{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* 内容区域 */
.content{
	width: 1000px;
	margin: auto;
}
/* 首页标题 */
.title{
	font-size: 30px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
/* 顶部 */
.box-top{
	display: flex;
	justify-content: space-between;
}
.bt-l{
	width: 650px;
}
.bt-l p{
	line-height: 1.8;
	margin-bottom: 20px;
}
.bt-l ul{
	display: flex;
	justify-content: space-between;
}
.bt-l ul li{
	width: 48%;
	height: 200px;
}
.bt-l ul li img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.bt-r{
	width: 320px;
}
.bt-r img{
	width: 100%;
	height: 305px;
	object-fit: cover;
}
/* 首页底部个人信息 */
.box-bottom{
	background: #FFFFFF;
	color: #333333;
	padding: 20px;
}
.box-bottom ul li {
	display: flex;
	align-items: center;
	padding: 15px 0;
	font-size: 18px;
	color: #666666;
	border-bottom: 1px dashed #CCCCCC;
}
.box-bottom ul li span{
	font-weight: 600;
	color: #333333;
}
.footer{
	text-align: center;
	margin-top: 10px;
}